DATABASE_URL="postgresql://postgres:postgres@localhost:5432/porterra?schema=public"

AUTH_SECRET=""
PRODUCTION_ACCESS_RESTRICT="false"
PRODUCTION_ALLOWED_EMAILS=""

CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
CLOUDINARY_FOLDER="porterra"
CLOUDINARY_UPLOAD_MAX_WIDTH="1920"
CLOUDINARY_UPLOAD_MAX_HEIGHT="1920"
CLOUDINARY_UPLOAD_QUALITY="auto:good"
